.container{
    flex: 1;
    flex-direction: column;
}

.page-title-wrap {
    padding-top: 50px;
    padding-bottom: 80px;
    justify-content: center;
}

.page-title{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: #bbbbbb;
    color: #bbbbbb;
    border-bottom-width: 2px;
}